<div class="container">
<br>	
<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <%= @task.scheduled_at %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>


<% @task.comments.each do |comment|%>
<hr>
<strong>
	<%=comment.text%>
</strong>
<%= link_to 'Delete', comment, method: :delete%>
<hr>
<%end%>

<%= render "comments/form", comment: @task.comments.new%>
</div>